parameters:
  level: 6
  paths:
    - ../../../../Classes
    - ../../../../Configuration
    - ../../../../Tests
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # PHPUnit assertions are static but idiomatically called via $this->
    - identifier: staticMethod.dynamicCall
      paths:
        - ../../../../Tests/*
